body{
  background: #f8f8f8;
}
.mian{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  position: relative;
}
.mian p{
  color: #fc37cd;
  font-size: 30px;
}
.mian img{
  width: 500px;
}
.shu{
  writing-mode: tb-rl;
  height: 500px;
  position: absolute;
  top: 86px;
  width: 40px;
}
.shu marquee{
  height: 667px;
}
.shu.left{
  left: 210px;
}
.shu.right{
  left: 750px;
}